.sidebar{
    display: flex;
    flex-direction: column;
    width: 55px;
    height: 100vh;
    position: fixed;
    z-index: 99;
    background-color: #0C4EC9;
    color: #FFFF;
    overflow: hidden;
    transition: width 0.3s ease; 
}

.sidebar.open {
    width: 200px;
}

.sidebar.open .returnButton {
    display: block; /* Mostrar ao abrir */
}

.sidebar-header{
    height: 60px;
    width: 200px;
    display: flex;
    align-items: center;
    transition: all ease-in 0.3s;
}

.sidebar.open .sidebar-header{
    transition: all ease-in 0.3s;
    justify-content: end;
}


.sidebar-header button{
    margin: 7px;
}

.sidebar a{
    color: #FFFF;
}

.sidebar-list{
    width: 200px;
}

.sidebar-items{
    color: #FFFF;
}
